@utility btn {
    @apply transition-all;
    --btn-shadow: "";

    &:active:not(.btn-active) {
        scale: 0.95;
    }

    &:focus-visible {
        @apply ring-2 ring-offset-2;
        outline: 2px transparent;
        isolation: isolate;
    }
}

@utility modal {
    @apply h-screen;
}

@utility modal-backdrop {
    button {
        cursor: default;
    }
}

@utility input {
    @apply transition-all ring-0 ring-offset-0;
    outline: none;

    &:focus,
    &:focus-within {
        border-color: transparent;
        outline: 0;
        @apply ring-2 ring-offset-2 bg-primary/20;
    }
}